
/* All Product All-Products*/

.card-body>h5{
    display: inline;
    font-weight: 600;
    font-size: 15px;
}

.card-body>a{
    background-color: black;
    color: white;
    width: 100%;
    font-size: 14px;
}

.card-body>p{
    font-size: smaller;
}

.card-body>a:hover{
    color: black;
    background-color: white;
    border: 2px solid black;
}

.card{
    width: 15rem;
    margin-top: 10px;
}


.all-product>h2{    
    font-weight: 20%;
    text-align: center;
}
@media only screen and (min-width: 601px) and (max-width:1000px) { /* Tablet */
    .card{
        width: 15rem;
        margin-top: 10px;
    }
}

div>h2{
    padding: 20px;
    font-weight: 900;
}

@media only screen and (min-width: 500px)  and (max-width:600px) { /* Phone */
    
    .card-body>h5,a{
        font-size: 15px;
    }
    .card-body>a{
        font-size: 10px;
    }
    .card-body>p{
        font-size: 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

    }
    .card-body>p:hover{
        overflow:visible;
        white-space: pre-wrap;
        text-overflow: inherit;

    }
    li>a{
        font-weight: 900;
        color: white;
        background-color: black;
        text-decoration: none;
        font-size: 13px;
    }
    .card{
        width:12rem;
        margin-top: 10px;
    }
    .card-img-top{
        height: 11rem;
    }
    
    .p-p{
        align-items: center;
        padding-left:30px;
    }   
}



@media only screen and (max-width: 450px) { /* Phone */
    
    .card-body>h5,a{
        font-size: 15px;
    }
    .card-body>a{
        font-size: 10px;
    }
    .card-body>p{
        font-size: 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

    }
    .card-body>p:hover{
        overflow:visible;
        white-space: pre-wrap;
        text-overflow: inherit;

    }
    li>a{
        font-weight: 900;
        color: white;
        background-color: black;
        text-decoration: none;
        font-size: 13px;
    }
    .card{
        width:8rem;
        margin-top: 10px;
    }
    .card-img-top{
        height: 11rem;
    }
    
    .p-p{
        align-items: center;
        padding-left:30px;
    }   
}
